%a{:href => "mailto:yalejashanbhangra@gmail.com"} yalejashanbhangra@gmail.com 
&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;PO Box 205025 New Haven, CT 06520-0856 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Website by 
%a{:href =>"//rafi.me", :target=>"_blank"} Rafi Khan 
