%footer
  %a{:href => "mailto:yalejashanbhangra@gmail.com"} yalejashanbhangra@gmail.com 
  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;PO Box 200856 New Haven, CT 06520-0856 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Website by 
  %a{:href =>"//faiazkhan.com", :target=>"_blank"} Rafi Khan 