- content_for :title, "YJB | About"
- content_for :body_class, ""
- content_for :header, raw(content_header "about")


.main.about
  %h1 Yale Jashan Bhangra
  .left
    .well
      %p Yale Jashan is a cultural dance troupe that celebrates the vibrant South Asian dance known as Bhangra. The art is grounded in a traditional dance performed in the Punjab region of South Asia, with influence from modern pop and hip-hop styles.  
      %p Yale Jashan Bhangra is a highly visible group that connects the greater Yale population to the fun, colorful traditions of South Asia.  Yale students from across the College and Graduate schools comprise the team.  YJB practices three times per week in preparation for performances on and off campus, in addition to competitions held throughout the east coast.

    %h3 Join!
    .well
      %p
        Anyone interested in learning bhangra should come to our free workshops, September 2, 3 and 4 from 7 - 8 p.m. in the Trumbull Dance studio—no previous experience required.
      %p 
        For those wishing to join the team, please come to auditions September 8, from 1:30 - 4:30 p.m. in Payne Whitney Gym, Studio E/F (5th floor). We'll teach you a short segment and perform alongside you. We're looking not necessarily for the best dancing ability, but for the most enthusiasm for learning quickly!

    %h3 Our mission
    .well
      %ul.fun-list
        %li We seek to share our passion with the community
        %li We embrace Bhangra as a competitive dance and perform at national competitions
        %li We honor an ancient tradition and culture with our dance
    %h3 Want us to perform?
    .well
      %p 
        Please 
        %a{:href=> "mailto:yalejashanbhangra@gmail.com"} contact 
        our captains if you'd like us to perform or provide Bhangra lessons!
  .right
    %img{:src => "/assets/team.jpg", :style => "width: 100%; margin-bottom: 10px;"}
    %iframe.about-iframe{ :width=>"100%", :height=>"300", :src=>"http://www.youtube.com/embed/GkWNK6Jjzwk?start=20", :frameborder=>"0", :allowfullscreen=>"allowfullscreen"}
    %p{:style => "text-align: center; margin-top: 10px; font-weight: bold; font-size: 16px;"} Make sure to watch full-screen!

.footer
  = render :partial => 'footer'
