- content_for :title, "Yale Jashan Bhangra"
- content_for :body_class, "index"

- content_for :header, ""
.index-back
  #social
    :plain
      <fb:like href='https://www.facebook.com/pages/Yale-Jashan-Bhangra/190308261019210' send='false' layout='box_count' width='150' show_faces='false'></fb:like>
    
  .mailing
    %h1 Welcome to YJB!
    %p 
      We encourage all members of the Class of 2017 (and any other Yalies) to come to our free workshops and upcoming auditions! Workshops are 
      %b Sep. 2, 3 and 4 from 7-8 p.m. in Trumbull Dance studio; 
      Auditions are 
      %b Sep. 8 from 1:30 - 4:30 in PWG. 
      Also join our mailing list or email 
      %a{href: 'mailto: yalejashanbhangra@gmail.com'} yalejashanbhangra@gmail.com 
      with questions.

    :plain
      <iframe src="https://docs.google.com/forms/d/1gwsqOPbaDkaQzfwYtoAMHeR2PwY2r-ei4Kc4X24e_xc/viewform?embedded=true" width="300" height="400" frameborder="0" marginheight="0" marginwidth="0" style="margin-top: 10px">Loading...</iframe>
  .big-head
    %li.img
      %a{:href=> "/"}
        %img{:src => "/assets/logo.png"}
    %li.text
      %a{:href=>"/about"} ABOUT
    %li.text
      %a{:href=>"/team"} TEAM
    %li.text
      %a{:href=>"/media"} MEDIA
    
.footer.index
  = render :partial => 'footer'
