- content_for :title, "Yale Jashan Bhangra"
- content_for :body_class, "class='index'"

- content_for :header, ""
.index-back
  #social
    :plain
      <fb:like href='https://www.facebook.com/pages/Yale-Jashan-Bhangra/190308261019210' send='false' layout='box_count' width='150' show_faces='false'></fb:like>
    
  .mailing
    %h1 Welcome to YJB!
    %p 
      We encourage all members of the Class of 2017 (and any other Yalies) to come to our free workshops and upcoming auditions! Times and dates to be announced; join our mailing list or email yalejashanbhangra@gmail.com with questions.

    #m
      %input#m-first{:type => "text", :placeholder => "First name"}
      %input#m-last{:type => "text", :placeholder => "Last name"}
      %input#m-email{:type => "text", :placeholder => "Email"}
      #m-submit Join!
  .big-head
    %li.img
      %a{:href=> "/"}
        %img{:src => "/assets/logo.png"}
    %li.text
      %a{:href=>"/about"} ABOUT
    %li.text
      %a{:href=>"/team"} TEAM
    %li.text
      %a{:href=>"/media"} MEDIA
    
.footer.index
  = render :partial => 'footer'
