- content_for :title, "Yale Jashan Bhangra"
- content_for :body_class, "class='index'"

- content_for :header, ""
.index-back
  .mailing.hide
    %h3 Join our mailing list!
    %p For updates about auditions, performances and more!
    #m
      %input#m-first{:type => "text", :placeholder => "First name"}
      %input#m-last{:type => "text", :placeholder => "Last name"}
      %input#m-email{:type => "text", :placeholder => "Email"}
      #m-submit Bruahh!
  .mailing
    %h1 News!
    %p 
      Come to the Bhangra workshops, 
      %strong now and now and now
    %p 
      Auditions are 
      %strong here
      at
      %strong this time.
  .big-head
    %li.img
      %a{:href=> "/"}
        %img{:src => "/assets/logo.png"}
    %li.text
      %a{:href=>"/about"} ABOUT
    %li.text
      %a{:href=>"/team"} TEAM
    %li.text
      %a{:href=>"/media"} MEDIA
    
.footer.index
  = render :partial => 'footer'
