- content_for :title, "Yale Jashan Bhangra"
- content_for :body_class, "class='index'"

- content_for :header, ""
.index-back
  .mailing.hidden
    %h3 Join our mailing list!
    %p For updates about auditions, performances and more!
    #m
      %input#m-first{:type => "text", :placeholder => "First name"}
      %input#m-last{:type => "text", :placeholder => "Last name"}
      %input#m-email{:type => "text", :placeholder => "Email"}
      #m-submit Bruahh!
  .big-head
    %li.img
      %a{:href=> "/"}
        %img{:src => "/assets/logo.png"}
    %li.text
      %a{:href=>"/about"} ABOUT
    %li.text
      %a{:href=>"/team"} TEAM
    %li.text
      %a{:href=>"/media"} MEDIA
    
= render :partial => 'footer'
