- content_for :title, "Yale Jashan Bhangra"
- content_for :body_class, "class='index'"

- content_for :header, ""
.index-back
  #social
    :plain
      <fb:like href='https://www.facebook.com/pages/Yale-Jashan-Bhangra/190308261019210' send='false' layout='box_count' width='150' show_faces='false'></fb:like>

  .mailing.hide
    %h3 Join our mailing list!
    %p For updates about auditions, performances and more!
    #m
      %input#m-first{:type => "text", :placeholder => "First name"}
      %input#m-last{:type => "text", :placeholder => "Last name"}
      %input#m-email{:type => "text", :placeholder => "Email"}
      #m-submit Bruahh!
  .mailing
    %h1 Welcome to YJB!
    %p 
      %strong Auditions 
      are Sunday September 9, 2012, 12 - 3 PM in Payne Whitney Gym on the 5th Floor in Studio E/F.
      %br
      No previous experience necessary!
    %p 
      To prepare or just have fun, come to our 
      %strong Workshops 
      Tuesday 9/4 and Thursday 9/6 from 7 - 8 PM in the Trumbull Dance Studio—also no experience necessary.

    %p 
      As always, 
      %a{:href => "mailto: yalejashanbhangra@gmail.com"} email us 
      with questions!
  .big-head
    %li.img
      %a{:href=> "/"}
        %img{:src => "/assets/logo.png"}
    %li.text
      %a{:href=>"/about"} ABOUT
    %li.text
      %a{:href=>"/team"} TEAM
    %li.text
      %a{:href=>"/media"} MEDIA
    
.footer.index
  = render :partial => 'footer'
