- content_for :title, "YJB | Team"
- content_for :body_class, ""
- content_for :header, raw(content_header "team")

.main
  %h1 The Team
  %br
  .section
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/sonia.png"}
        %img.bottom{:src => "/assets/team/sonia_dancing.png"}
        .desc
          %p 
            %strong Sonia "Sohniye" Taneja
            %br
            &nbsp;&nbsp;&nbsp;2013 | Captain
          %p I like to pinch people's cheeks, I have bhangra-ed at the Taj Mahal, and if I could only live on only one food, I would pick gol gappe or chocolate.
      .tile
        %img.top{:src => "/assets/team/scott.jpg"}
        %img.bottom{:src => "/assets/team/scott_dancing.jpg"}
        .desc
          %p 
            %strong Scott "Scottiye" Simpson
            %br
            &nbsp;&nbsp;&nbsp;2013 | Vice-Captain
          %p Even after 4 years dancing with YJB, he's still a Gora Wala.
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/natalia.jpg"}
        %img.bottom{:src => "/assets/team/natalia_dancing.jpg"}
        .desc
          %p 
            %strong Natalia "Natty Ice" Khosla
            %br &nbsp;&nbsp;&nbsp;2014 | University Manager
          %p I've been dancing forever (now with YJB and YaleDancers, and before on Yale's Rhythmic Blue and Kalapriya Bharatanatyam Company) and love YJB's spicey nakhra and mastiyaan!
      .tile
        %img.top{:src => "/assets/team/anurag.png"}
        %img.bottom{:src => "/assets/team/anurag_dancing.png"}
        .desc
          %p 
            %strong Anurag "Rage" Deeconda
            %br
            &nbsp;&nbsp;&nbsp;2014 | Business Manager
          %p I &hearts; my Panku
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/nimisha.jpg"}
        %img.bottom{:src => "/assets/team/nimisha_dancing.jpg"}
        .desc
          %p 
            %strong Nimisha "Nimz" Ganesh
            %br
            &nbsp;&nbsp;&nbsp;2015 | Financial Officer
          %p Feed me Chipotle and I'm a happy camper!
      .tile
        %img.top{:src => "/assets/team/rafi.jpg"}
        %img.bottom{:src => "/assets/team/rafi_dancing.jpg"}
        .desc
          %p 
            %strong Rafi "Amerafikhan" Khan
            %br
            &nbsp;&nbsp;&nbsp;2015 | Webmaster
          %p Dude I really like dancing
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/sabrina.jpg"}
        %img.bottom{:src => "/assets/team/sabrina_dancing.jpg"}
        .desc
          %p 
            %strong Sabrina "Sabz" Rangi
            %br
            &nbsp;&nbsp;&nbsp;2015 | Social Chair
          %p I like to bruah out with YJB and occasionally whip out the Indian accent. I'm all about promoting Punjabi culture and love being one of the "PUNJABI GIRLS" on the team! 
      .tile
        %img.top{:src => "/assets/team/edward.jpg"}
        %img.bottom{:src => "/assets/team/edward_dancing.jpg"}
        .desc
          %p 
            %strong Edward "Stressball" Oo
            %br
            &nbsp;&nbsp;&nbsp;2015 | Publicity Chair
          %p I &hearts; stress
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/keerthi.jpg"}
        %img.bottom{:src => "/assets/team/keerthi_dancing.jpg"}
        .desc
          %p 
            %strong Keerthi "Machete" Shetty
            %br
            &nbsp;Ph.D. Candidate in Immunobiology
          %p Keerthi is double jointed like whoa.

      .tile
        %img.top{:src => "/assets/team/dipon.png"}
        %img.bottom{:src => "/assets/team/dipon_dancing.png"}
        .desc
          %p 
            %strong Dipon "Di-paundabhangra" Ghosh
            %br
            &nbsp;Dipon didn't turn in his bio because he's a bum, but we still like him for some reason. 
          %p Go Steelers!
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/hannah.jpeg"}
        %img.bottom{:src => "/assets/team/hannah_dancing.png"}
        .desc
          %p 
            %strong Hannah "Hannu" Mogul-Adlin
            %br
            &nbsp;&nbsp;&nbsp;2014
          %p I hate the patriarchy. 
      .tile
        %img.top{:src => "/assets/team/sagar.jpg"}
        %img.bottom{:src => "/assets/team/sagar_dancing.jpg"}
        .desc
          %p 
            %strong Sagar "Sagz" Yadama
            %br
            &nbsp;&nbsp;2015
          %p I like to dance Bhangra and hang out with Anurag &hearts;
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/kathryn.jpg"}
        %img.bottom{:src => "/assets/team/kathryn_dancing.jpg"}
        .desc
          %p 
            %strong Kathryn "K-what?" Wright 
            %br
            &nbsp;&nbsp;School of Forestry
          %p After 3.5 years of bhangra, the only things Kathryn consistently loves more are manatees and her bicycle.
      .tile
        %img.top{:src => "/assets/team/david.jpg"}
        %img.bottom{:src => "/assets/team/david_dancing.jpg"}
        .desc
          %p 
            %strong David "D-Pain" Cruz
            %br
            &nbsp;&nbsp;2014
          %p I just have a lot of feelings about bhangra.
  %h1 Now introducing the newbz!
  %br
  .section
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/nikhil.jpg"}
        %img.bottom{:src => "/assets/team/nikhil_dancing.jpg"}
        .desc
          %p 
            %strong Nikhil Bumb
            %br
            &nbsp;&nbsp;School of Management 2014
          %p This may be my 3rd bhangra team, but Bollywood will always be my first love.  And ice cream.
      .tile
        %img.top{:src => "/assets/team/payal.jpg"}
        %img.bottom{:src => "/assets/team/payal_dancing.jpg"}
        .desc
          %p 
            %strong Payal Marathe
            %br
            &nbsp;&nbsp;2016
          %p I love to dance, eat, and people who will dance and eat with me.
  %h1 And reintroducing alumni!

.footer
  = render :partial => 'footer'