- content_for :title, "YJB | Team"
- content_for :body_class, ""
- content_for :header, raw(content_header "team")

.main
  %h1 The Team
  %br
  .section
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/sonia.png"}
        %img.bottom{:src => "/assets/team/sonia_dancing.png"}
        .desc
          %p 
            %strong Sonia "Sohniye" Taneja 
            | 2013 
            %br
            &nbsp;&nbsp;&nbsp;Captain
          %p I like to pinch people's cheeks, I have bhangra-ed at the Taj Mahal, and if I could only live on only one food, I would pick gol gappe or chocolate.
      .tile
        %img.top{:src => "/assets/team/scott.png"}
        %img.bottom{:src => "/assets/team/scott_dancing.png"}
        .desc
          %p 
            %strong Scott "Scottiye" Simpson
            %br
            &nbsp;&nbsp;&nbsp;2013 | Vice-Captain
          %p OMG FALL FASHION IS FINALLY IN!!
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/natalia.jpg"}
        %img.bottom{:src => "/assets/team/natalia_dancing.jpg"}
        .desc
          %p 
            %strong Natalia "Natty Ice" Khosla
            %br &nbsp;&nbsp;&nbsp;2014 | University Manager
          %p I've been dancing forever (now with YJB and YaleDancers, and before on Yale's Rhythmic Blue and Kalapriya Bharatanatyam Company) and love YJB's spicey nakhra and mastiyaan!
      .tile
        %img.top{:src => "/assets/team/anurag.png"}
        %img.bottom{:src => "/assets/team/anurag_dancing.png"}
        .desc
          %p 
            %strong Anurag "Rage" Deeconda
            %br
            &nbsp;&nbsp;&nbsp;2014 | Business Manager
          %p I &hearts; my Panku
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/hannah.png"}
        %img.bottom{:src => "/assets/team/hannah_dancing.jpg"}
        .desc
          %p 
            %strong Hannah "Hannu" Mogul-Adlin
            %br
            &nbsp;&nbsp;&nbsp;2014
          %p I am literally never not high...on bhangra!
      .tile
        %img.top{:src => "/assets/team/rafi.jpg"}
        %img.bottom{:src => "/assets/team/rafi_dancing.jpg"}
        .desc
          %p 
            %strong Rafi "The coolest" Khan
            | 2015
            %br
            &nbsp;&nbsp;&nbsp;Webmaster
          %p Dude I really like dancing
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/sabrina.jpg"}
        %img.bottom{:src => "/assets/team/sabrina_dancing.jpg"}
        .desc
          %p 
            %strong Sabrina "Sabz" Rangi
            | 2015 
            %br
            &nbsp;&nbsp;&nbsp;Social Chair
          %p I like to bruah out with YJB and occasionally whip out the Indian accent. I'm all about promoting Punjabi culture and love being one of the "PUNJABI GIRLS" on the team! 
      .tile
        %img.top{:src => "/assets/team/edward.png"}
        %img.bottom{:src => "/assets/team/edward_dancing.png"}
        .desc
          %p 
            %strong Edward "Stressball" Oo
            | 2015 
            %br
            &nbsp;&nbsp;&nbsp;Publicity Chair
          %p I &hearts; stress
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/keerthi.jpg"}
        %img.bottom{:src => "/assets/team/keerthi_dancing.jpg"}
        .desc
          %p 
            %strong Keerthi "Machete" Shetty
            %br
            &nbsp;Ph.D. Candidate in Immunobiology
          %p Keerthi is double jointed like whoa.

      .tile
        %img.top{:src => "/assets/team/dipon.png"}
        %img.bottom{:src => "/assets/team/dipon_dancing.png"}
        .desc
          %p 
            %strong Dipon "Di-paundabhangra" Ghosh
            %br
            &nbsp;Bum
          %p Keerthi is still double jointed like whoa.
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/nimisha.jpg"}
        %img.bottom{:src => "/assets/team/nimisha_dancing.jpg"}
        .desc
          %p 
            %strong Nimisha "Nimz" Ganesh
            %br
            &nbsp;&nbsp;&nbsp;2015 | Financial Officer
          %p Feed me Chipotle and I'm a happy camper!
      .tile
        %img.top{:src => "/assets/team/sagar.jpg"}
        %img.bottom{:src => "/assets/team/sagar_dancing.jpg"}
        .desc
          %p 
            %strong Sagar "Sagz" Yadama
            %br
            &nbsp;&nbsp;2015
          %p I like to dance Bhangra and hang out with Anurag &hearts;
    .tile-pair
      .tile
        %img.top{:src => "/assets/team/kathryn.jpg"}
        %img.bottom{:src => "/assets/team/kathryn_dancing.jpg"}
        .desc
          %p 
            %strong Kathryn "K-what?" Wright 
            %br
            &nbsp;&nbsp;School of Forestry
          %p After 3.5 years of bhangra, the only things Kathryn consistently loves more are manatees and her bicycle.
      .tile
        %img.top{:src => "/assets/team/dipon_dancing.png"}
        %img.bottom{:src => "/assets/team/dipon.png"}
        .desc
          %p 
            %strong David "I'm going on a" Cruz
            %br
            &nbsp;&nbsp;2014
          %p I just have a lot of feelings about bhangra.
  %h1 Soon introducing...the newbies!
  %br
  -#
    .section
      .tile-pair
        .tile
          %img.top{:src => "/assets/team/sonia.jpg"}
          %img.bottom{:src => "/assets/team/sonia_dancing.jpg"}
        .tile
          %img.top{:src => "/assets/team/sonia.jpg"}
          %img.bottom{:src => "/assets/team/sonia_dancing.jpg"}
      .tile-pair
        .tile
          %img.top{:src => "/assets/team/sonia.jpg"}
          %img.bottom{:src => "/assets/team/sonia_dancing.jpg"}
        .tile
          %img.top{:src => "/assets/team/sonia.jpg"}
          %img.bottom{:src => "/assets/team/sonia_dancing.jpg"}
  %h1 And reintroducing alumni!

.footer
  = render :partial => 'footer'